# Miscellaneous
*.log
*.pyc
*.swp
*.swo
*.tmp
.DS_Store
Icon?
ehthumbs.db
Thumbs.db

# IntelliJ / Android Studio / VS Code
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
/build/

# iOS-related files
/ios/*.xcodeproj/xcuserdata
/ios/DerivedData/
/ios/Flutter/.last_build_id
/ios/Pods/
/ios/Runner.xcworkspace/contents.xcworkspacedata

# Android-specific
/android/app/src/main/assets/
/android/app/src/main/res/
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

/android/
/ios/
/linux/
/macos/
/web/
/windows/